body{
    background: #EEEEEE;
}

.container {
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin: auto;
    width: 75%;
    padding: 10px;
    border-radius: 30px;
    border: 5px solid;
    border-color: gray;
    background-color: aliceblue;
}
label{
    font-size: 15px;
}
h2{
    justify-self: center;
    font-size: 17px;
}
.input-container {
   
    font-size: 10px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin: auto;
    width: 90%;
    padding: 10px;
    border-radius: 30px;
    border: 5px solid;
    border-color: gray;
    background-color: aliceblue;
}

#messContainer {
    align-self: right;
}

#message_input {
    width: 100%;
}
.header{
    
}
.inv {
    padding: 15px;
    background-color: #88B04B;
    color: white;
    display:none;
  }
p{
    justify-items: center;
}

.acceptBtn {
    margin-left: 20px;
    color: #fffffe;
    float: right;
    font-size: 20px;
   
    
   
}
  
 
.acceptBtn:hover {
    color: black;
}